
body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}


nav {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

nav button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: #eee;
  color: #333;
  border-radius: 5px;
}

nav button:hover {
  background-color: #ddd;
}

nav button[style*="background-color"] {
  background-color: #a84dcf !important;
  color: white !important;
}


.timer-display {
  font-size: 48px;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.timer-display div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer-display span {
  font-size: 48px;
  margin-bottom: 10px;
}

.timer-display button {
  font-size: 24px;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  background-color: #a84dcf;
  color: white;
  border-radius: 5px;
}

.timer-display button:hover {
  background-color: #9330b5;
}

.history {
  margin-top: 30px;
}

.history h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.history ul {
  list-style: none;
  padding: 0;
}

.history li {
  font-size: 18px;
  margin: 5px 0;
}
